<?php 
    foreach($scripts as $js){
        echo '<script type="text/javascript" src="'.url('public/js/'.$js).'"></script>';
    }
?>
<script>
    $(window).on('load', function () {
        $('#preloader').fadeOut();
        $('#progress').delay(350).fadeOut('slow');
        $('body').delay(350).css({ 'overflow': 'visible' });
    })
</script>