<footer
    class="page-footer footer footer-static footer-dark teal lighten-2 gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container">
            <div class="left">
                <img src="<?php echo url('public/images/logo/go-jumpers.png') ?>" style="width: 120px;" alt="Go Jumpers">
            </div>
            <div class="right">
                <span><a href="mailto:go@jumpers.com.br">go@jumpers.com.br</a></span>
            </div>
        </div>
    </div>
</footer>