<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark teal lighten-2 no-shadow">
            <div class="nav-wrapper">
                <ul class="navbar-list right">
                    <li tabindex="0">
                        <a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);"
                            data-target="profile-dropdown"></i>
                            <?php echo $_SESSION['nome']; ?>
                        </a>
                        <ul class="dropdown-content" id="profile-dropdown" tabindex="0">
                            <li tabindex="0">
                                <a class="grey-text text-darken-1" href="/sair">
                                    <i class="material-icons">keyboard_tab</i> Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>