<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Desenvolvimento do teste da Web Jump">
<meta name="author" content="Arthur Calazans">
<title>Webjump | Backend Test | <?php echo ucwords($page) ?></title>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<?php
foreach ($stylesheets as $css) {
    echo '<link rel="stylesheet" type="text/css" href="' . url('public/css/' . $css) . '">';
}
?>