<aside class="sidenav-main nav-collapsible sidenav-light sidenav-active-square nav-collapsed">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1" href="/">
                <img src="<?php echo url('public/images/logo/go-logo.png') ?>" alt="materialize logo">
                <span class="logo-text hide-on-med-and-down">
                    <img src="<?php echo url('public/images/logo/menu-go-jumpers.png') ?>">
                </span>
            </a>
        </h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow ps ps--active-y"
        id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="/" tabindex="0">
                <i class="material-icons">dashboard</i>
                <span class="menu-title" data-i18n="">Dashboard</span>
            </a>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="/produtos" tabindex="1">
                <i class="material-icons">business_center</i>
                <span class="menu-title" data-i18n="">Produtos</span>
            </a>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="/categorias" tabindex="2">
                <i class="material-icons">local_offer</i>
                <span class="menu-title" data-i18n="">Categorias</span>
            </a>
        </li>
    </ul>
    <div class="navigation-background"></div><a
        class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
        href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>