<div class="content-wrapper-before teal lighten-2"></div>
<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0">Produtos</h5>
            </div>
            <div class="col s2 m6 l6">
                <a href="/produtos/cadastrar" class="btn waves-effect waves-light breadcrumbs-btn right">
                    Cadastrar Produtos
                </a>
            </div>
        </div>
    </div>
</div>