<div id="card-stats">
    <div class="row">
        <div class="col s12 m6 l4 xl4">
            <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text animate fadeLeft">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">business_center</i>
                        <p>Produtos</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text"><?php echo $produtos->contar();?></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4 xl4">
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text animate fadeLeft">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">local_offer</i>
                        <p>Categorias</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text"><?php echo $categorias->contar();?></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4 xl4">
            <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text animate fadeRight">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">perm_identity</i>
                        <p>Usuarios</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text"><?php echo $usuarios->contar();?></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>