<div class="section">
    <div class="row">
        <div class="col s12 m12 l12">
            <div id="Form-advance" class="card card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">Novo Produto</h4>
                    <form id="form-cadastro-produto" class="col s12">
                        <input type="hidden" name="cadastrar" id="cadastrar" value="0">
                        <div class="row">
                            <div class="input-field col m3 s12">
                                <input type="text" name="cod_produto" id="cod_produto">
                                <label for="cod_produto">SKU</label>
                            </div>
                            <div class="input-field col m3 s12">
                                <input type="text" name="nome_produto" id="nome_produto">
                                <label for="nome_produto">Nome Produto</label>
                            </div>
                            <div class="input-field col m3 s12">
                                <input type="text" name="preco_produto" id="preco_produto">
                                <label for="preco_produto">Preço</label>
                            </div>
                            <div class="input-field col m3 s12">
                                <input type="number" name="qnt_produto" id="qnt_produto">
                                <label for="qnt_produto">Quantidade</label>
                            </div>
                        </div>
                        <div class="row">
                            <?php 
                            if($qtd>0){
                                foreach($fetch as $cate){
                            ?>
                            <div class="col m2 s6">
                                <label>
                                    <input type="checkbox" name="categorias[]" value="<?php echo $cate['0']; ?>" />
                                    <span><?php echo $cate['1']; ?></span>
                                </label>
                            </div>
                            <?php 
                                }
                            }else{
                            ?>
                            <div class="col m2 s6">
                                <a href="/categorias/cadastrar"
                                    class="btn white black-text waves-effect waves-light left">Cadastrar Categorias
                                    <i class="material-icons left">add_circle</i>
                                </a>
                            </div>
                            <?php 
                            }
                            ?>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="descricao" name="descricao" class="materialize-textarea"></textarea>
                                <label for="descricao">Descrição</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <a href="<?php echo $_SERVER['HTTP_REFERER'] ?>"
                                    class="btn black waves-effect waves-light left">Voltar
                                    <i class="material-icons left">arrow_back</i>
                                </a>
                                <button class="btn orange waves-effect waves-light right" type="submit"
                                    name="action">Cadastrar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>