<div class="section">
    <div class="row">
        <div class="col s12 m12 l12">
            <div id="Form-advance" class="card card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">Nova Categoria</h4>
                    <form class="col s12">
                        <input type="hidden" name="editar" id="editar" value="<?php echo $cate['0']; ?>">
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <input type="text" name="cod_categoria" id="cod_categoria"
                                    value="<?php echo $cate['2']; ?>">
                                <label for="cod_categoria">SKU</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <input type="text" name="nome_categoria" id="nome_categoria"
                                    value="<?php echo $cate['1']; ?>">
                                <label for="nome_categoria">Nome Categoria</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <a href="<?php echo $_SERVER['HTTP_REFERER'] ?>"
                                    class="btn black waves-effect waves-light left">Voltar
                                    <i class="material-icons left">arrow_back</i>
                                </a>
                                <button class="btn orange waves-effect waves-light right" type="submit">Editar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>