<div class="section section-data-tables">
    <div class="row">
        <div class="col s12 m12 l12">
            <div id="button-trigger" class="card card card-default scrollspy">
                <div class="card-content">
                    <div class="col s12">
                        <div id="data-table-simple_wrapper" class="dataTables_wrapper">
                            <table id="page-length-option" class="display dataTable dtr-inline" role="grid"
                                aria-describedby="data-table-simple_info">
                                <thead>
                                    <tr role="row">
                                        <th>Nome</th>
                                        <th>SKU</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php 
                                    foreach($fetch as $cate){
                                    ?>
                                    <tr role="row">
                                        <td tabindex="0" class="sorting_1"><?php echo $cate['1']; ?></td>
                                        <td><?php echo $cate['2']; ?></td>
                                        <td>
                                            <a href="/categorias/editar/<?php echo $cate['0']; ?>"
                                                class="btn-floating mb-1 waves-effect waves-light">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <button type="button" id="excluir" value="<?php echo $cate['0']; ?>"
                                                class="btn-floating mb-1 waves-effect waves-light"><i
                                                    class="material-icons">delete</i></button>
                                        </td>
                                    </tr>
                                    <?php 
                                    }
                                    ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>