/*----------------------------------------
    Login
------------------------------------------*/
.login-bg
{
    background-image: url('../images/background/flat-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

#login-page
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100vh; 

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
#login-page .card-panel.border-radius-6.login-card
{
    margin-left: 0 !important;
}

/*----------------------------------------
    Cadastro
------------------------------------------*/
.register-bg
{
    background-image: url('../images/background/flat-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

#register-page
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100vh; 

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
#register-page .card-panel.border-radius-6.register-card
{
    margin-left: 0 !important;
}

.notification-button{
    line-height: 64px !important;
}

body {
    overflow: hidden; 
  }
   
  /* ini: Preloader */
   
  #preloader {
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:#fff; /* cor do background que vai ocupar o body */
      z-index:9999; /* z-index para jogar para frente e sobrepor tudo */
  }
  .progress{
    display: inline-block;
    position: absolute;
      top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
      left: 0;
  }